.admin-panel {
  display: flex;
}

.bread-scam {
  display: flex;
  width: 300px;
}

.etd {

}

.btn {
  margin: 5px;
  border-radius: 10px;
  border: none;
  color: rgb(250, 250, 250);
  background-color: rgb(185, 167, 223);
  padding: 5px 10px;
  transition: 0.4s;
}
.btndelete {
  margin: 5px;
  border-radius: 10px;
  border: none;
  color: rgb(250, 250, 250);
  background-color: rgb(204, 124, 124);
  padding: 5px 10px;
  transition: 0.4s;
}
.btn:hover {
  background-color: rgb(173, 150, 222);
}

.btn:active {
  background-color: rgb(173, 150, 222);
}

.hehehe {
  color: black;
}

.tabbb:hover {
  color: blueviolet;
}

.table-admin {
  margin: 30px;
  border-radius: 15px;
  background-color: aliceblue;
  width: 800px;
}

.nav-pills .nav-link{
  padding: 15px;
  color: rgb(149, 116, 219);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  padding: 15px;
  background-color: rgb(149, 116, 219);
  color: white;
}
.pills-tab{
  height: 100%;
}