.course-card{
  border-radius: 15px;
  width:1000px;
  background-color: rgb(201, 175, 225);
  color:aliceblue;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 30px;
}
.card-container{
  align-items: center;
  
}
a{
  text-decoration: none;
}
.title-card{
  display:flex;
}
.button-arrow{
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(211, 193, 228);
  border-radius: 30px;
  padding: 5px 10px;
  margin-left: auto;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .button-arrow {
    font-size: 16px;
    padding: 3px 6px;
    margin-left: 0;
  }
}
.body-card{
  display: flex;
}
.course-card:hover{
  box-shadow: -1px 0px 10px 10px rgba(180, 94, 233, 0.2);
}
.sandbox-area{
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  background-color:rgb(69, 51, 86);;
}
.sandbox-card{
  border-radius: 15px;
  width:400px;
  background-color: rgb(201, 175, 225);
  color:aliceblue;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 30px;
}
.sandbox-card:hover{
  box-shadow: -1px 0px 10px 10px rgba(180, 94, 233, 0.2);
}
.two-level{
  display: flex;
}
.guide-card{
  margin-left: 20px;
  border-radius: 15px;
  width:580px;
  background-color: rgb(201, 175, 225);
  color:aliceblue;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 30px;
}
.guide-card:hover{
  box-shadow: -1px 0px 10px 10px rgba(180, 94, 233, 0.2);
}
@media only screen and (max-width: 1200px) {
  .course-card {
    width: 800px;
  }
  .sandbox-card {
    width: 300px;
  }
  .guide-card {
    width: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  .course-card {
    width: 600px;
  }
  .sandbox-card {
    width: 250px;
  }
  .guide-card {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .course-card {
    width: 400px;
  }
  .sandbox-card {
    width: 200px;
  }
  .guide-card {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .course-card {
    width: 300px;
  }
  .sandbox-card {
    width: 150px;
  }
  .guide-card {
    width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .course-card {
    width: 250px;
  }
  .sandbox-card {
    width: 120px;
  }
  .guide-card {
    width: 200px;
  }
}